django
MySQL-python
django-rosetta
djangoembed
sorl-thumbnail
django-filebrowser
feedparser
simplejson
httplib2
PIL
django-debug-toolbar
django-annoying
beautifulsoup
flup
python-memcached
django-admin-tools
oembed
recaptcha-client
-e hg+https://bitbucket.org/salvator/django-admintools-bootstrap#egg=admintools_bootstrap

