*{margin:0;padding:0;}
.clearboth{clear:both;}
.hidde{display:none;}
.center{text-align:center;}
.left{float:left;}
.right{float:right;}
.strong{font-weight:bold;}
.normal{font-weight:normal;}
.italic{font-style:italic;}
.justify{text-align:justify;}
.upp {text-transform: uppercase;}
.nodeco{text-decoration:none;}
.barret{text-decoration:line-through;}
.underline{text-decoration:underline;}

a img { border:0; }



body{text-align:center;font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif; background: #f5fff5;}

header {background: #f5fff5; color: #ff9009;}
header a {color: #ff9009;}
#logo{float: left;padding: 0px 0px 0px 40px}
#login {float: left; font-size: 12px; padding: 50px 20px 0px 40px;}
#login a {text-decoration: underline; font-weight: bold;}
#langage_selection{float: right; padding: 10px 20px 0px 0px;}
nav {clear: both; font-size: 16px; padding: 10px 20px 5px 40px; border-bottom: 1px solid white; background: #d6ecc4; color: #ff9009; font-weight: bold;
border-radius: 10px 10px 0px 0px;
}
nav a {text-decoration: underline; color: #ff9009;}
nav a:hover{text-decoration: none;}

#main{text-align: left; margin: auto; color: #000000; margin-top: 10px;}

#flash_messages {color: #ffffff; background: #2A2A2A; font-size: 18px; font-weight: bold; padding: 5px 0px 0px 0px; border-bottom: 1px dashed #fff;}
.flash_messages {padding: 0px 20px 10px 20px; text-align: center;}

/*********** Product forms  ************/
#link_form {font-size: 12px; padding: 10px 30px 10px 40px; background: #0e4967; color: #FFF; border-bottom: 1px solid white;}

#label_url{font-size: 18px; padding-right: 10px; float: left; padding-top: 4px; width: 130px;}
#id_post_url{font-size: 18px; margin-right: 15px; width: 600px; float: left; }

@-webkit-keyframes greenPulse {
    from { background-color: #007d9a; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #2daebf; -webkit-box-shadow:: 0 0 18px #2daebf; }
    to { background-color: #007d9a; -webkit-box-shadow:: 0 0 9px #333; }
}
.link_submit input {
background: #007d9a;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.25)), to(transparent)); color: #FFF; font-weight: bold; display: block;text-align: center; letter-spacing: -0.1px; text-shadow: 0 -1px 5px rgba(0,0,0,.25);border: 2px solid rgba(0,0,0,.25); font-size: 18px; padding: 3px 10px 3px 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-animation-duration: 3s;
-webkit-animation-name: greenPulse;
-webkit-animation-iteration-count: infinite; 
}
.link_submit input:hover {cursor: pointer;}
.errorlist{color: red; clear: both;}

#post_preview_form{width: 900px;}
#post_edit{float: left; width: 512px; padding: 15px 0px 0px 0px;}
.post_element {clear: both; margin-bottom: 10px; float: left;}
.post_element label {font-size: 18px; float: left; width: 130px; padding-right: 10px;}
.post_element input {font-size: 18px; float: left; width: 360px; }
.post_element textarea {font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif; font-size: 16px; float: left; width: 360px; height: 110px; padding: 2px;}
#post_preview{border:solid 2px #dedede; padding:15px; float: left; width: 185px; font-size: 10px; margin: 16px 0px 15px 15px;}
.post_it{clear: both; margin: 10px 0px 10px 0px;}
.post_it input {width: 510px; clear: both;}

/*********** Login-Signup forms  ************/
#login_page{background: #0e4967; color: #fff;}
#login_page h2 {margin: -10px 0px 20px 0px; font-weight: normal; }
#login_page .errorlist {font-size: 12px; list-style: none; margin: 0px 0px -5px 0px; padding-top: 10px;}
#login_form {font-size: 18px; width: 420px; float: left; border-right: 1px solid #aaaaaa; padding: 10px 0px 30px 50px; margin: 20px 0px 20px 0px;}
.login_element label {float: left; width: 130px; padding: 10px 0px 10px 0px; clear: both;}
.login_element input {font-size: 18px; float: left; width: 250px; position: relative; margin-top: 4px;}
.submit_login {clear: both; padding-top: 10px;}
.submit_login input{width: 390px;}
#register_form {font-size: 18px; width: 420px; float: left; padding: 10px 0px 30px 30px; margin: 20px 0px 20px 0px;}
.register_element label {float: left; width: 150px; padding: 10px 0px 10px 0px; clear: both;}
.register_element input {font-size: 18px; float: left; width: 250px; position: relative; margin-top: 4px;}
.newsletter_check{clear: both; font-size: 14px;}
.again {font-size: 12px;}

/*********** Links block zone  ************/
#links_section{background: #ececec; color: #664444; padding: 20px 10px 10px 10px; clear: both;}
#jquerywall{position: absolute;}
.link{padding: 10px; background: #ffffff; width: 185px; overflow: hidden; box-shadow: 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4); }
.title{font-size:12px;}
.link_icone{padding: 0px 5px 5px 0px; float: left;}
.description{font-size:11px; padding: 0px 0px 5px 0px; clear: both;}
.media{padding: 10px 0px 0px 0px;}
.link_play{position: relative; z-index: 2; margin: -28px 0px 0px 159px; float: left;}
#link_nav{padding: 20px 0px 10px 0px; text-align: center; font-weight: bold; font-size: 60px; clear: both;}
#link_nav a{color: #664444; text-decoration: none;}
.author_date{font-size: 10px;}
.author_date a {color: #442222;}

.likeornot {clear: both; float: right; margin: 0px -10px -10px 0px; font-size: 12px; height: 20px; overflow-y: hidden;}
.likeornot a {text-decoration: none;}
.number{float: left; padding-right: 2px; color: #664444;}
.vicone{float: left;}
.vote_loading {background: #ceefef; padding: 3px 10px 3px 10px; margin: 0px; font-size: 12px; height: 20px; float: left;}
.vote_message {background: #FEECBF; padding: 3px 10px 3px 10px; margin: 0px; font-size: 12px; height: 20px; float: left;}
.like{padding: 3px 5px 3px 5px; float: left;}
.like:hover{background: #ceefef;}
.not{padding: 3px 5px 3px 5px; float: left;}
.not:hover{background: #ceefef;}
.voted{background: #ceefef;}
.novote{background: #ffffff;}

/*********** User page  ************/
#user_page{background: #000000; color: #FFFFFF; height: 80px; padding-left: 40px;}
.user_details {font-size: 40px; line-height: 80px; vertical-align: bottom; height: 80px; float: left;}
.follow {float: right; font-size: 40px; vertical-align: bottom; height: 80px; line-height: 80px;}
.follow_status{display: block ;float: right; width: 40px; height: 40px; background: url(../img/on-off.png); margin: 20px 40px 0px 10px;}
.follow_on{background-position: bottom;}
.follow_on:hover{background-position: top;}
.follow_off{background-position: top;}
.follow_off:hover{background-position: bottom;}

/*********** Link preview  ************/
#link_overlay{position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: url(../img/trans.png); z-index:101; position: fixed; display: none;}
#full_view{position: fixed; overflow: auto; width: 100%; height: 100%; top: 0; left: 0; z-index:102; display: none;}
#full_view_content{width: 600px; margin: 40px auto 20px auto; min-height: 500px; background: #ffffff; box-shadow: 0 1px 3px rgba(25,15,15,0.3); -moz-box-shadow: 0 1px 3px rgba(25,15,15,0.3); -webkit-box-shadow: 0 1px 3px rgba(25,15,15,0.3); z-index: 103; }
#link_html {padding: 10px 10px 10px 10px; margin: auto; text-align: center;}
#link_image {padding: 10px 10px 10px 10px; margin: auto; text-align: center;}
#link_image img {max-width: 580px; position: relative; z-index: 4;}
#close_icone {position: absolute; margin: -25px 0px 0px 590px; cursor: pointer; z-index: 104;}

/*********** Comments zone  ************/
#comment {clear: both; padding: 20px 20px 10px 20px;}
.comment {clear: both; margin: 0px 0px 15px 0px; box-shadow: 0 1px 3px rgba(25,15,15,0.3); -moz-box-shadow: 0 1px 3px rgba(25,15,15,0.3); -webkit-box-shadow: 0 1px 3px rgba(25,15,15,0.3);}
.comment_avatar{float: left; margin: 0px 10px 0px 0px; box-shadow: 0 1px 3px rgba(25,15,15,0.3); -moz-box-shadow: 0 1px 3px rgba(25,15,15,0.3); -webkit-box-shadow: 0 1px 3px rgba(25,15,15,0.3);}
.comment_headline {font-size: 11px; padding: 5px 10px 5px 10px; border-bottom: 1px solid #ececec; text-align: left;}
.comment_text {padding: 10px;}
#comment_form {padding: 0px 20px 10px 20px;}
#id_text {width: 560px; height: 100px; box-shadow: 0 1px 1px rgba(25,15,15,0.3); -moz-box-shadow: 0 1px 1px rgba(25,15,15,0.3); -webkit-box-shadow: 0 1px 1px rgba(25,15,15,0.3);}
.comment_it input {width: 560px; margin-top: 15px;}


/*********** Footer  ************/
footer{font-size: 10px; text-align: right; padding: 5px 20px 50px 20px; clear: both; background: #d6ecc4; border-top: 2px solid #0e4967;}
footer a{color: #797979; text-decoration: underline;}
footer p{display: inline;}