{% load i18n thumbnail %}<p id="close_icone"><a href="javascript:;" onclick="close_link();"><img src="{{ STATIC_URL }}link5/img/close.gif" width="32" height="32" border="0" /></a></p>
{% ifequal link_comment.link_type "photo" %}
    <p id="link_image">
        {% thumbnail link_comment.post_img "580" upscale=False as im %}
            <img src="{{ im.url }}" class="link_image_preview">
        {% endthumbnail %}
    </p>
{% else %}{% ifequal link_comment.link_type "link" %}{% if link_comment.post_img %}
    <p id="link_link_image">
        {% thumbnail link_comment.post_img "580" upscale=False as im %}
             <a href="{{ link_comment.post_url }}" target="_blank"><img src="{{ im.url }}" class="link_image_preview" border="0"></a>
        {% endthumbnail %}
    </p>
{% endif %}{% else %}{% ifequal link_comment.link_type "video" %}
<div id="link_html">
    {{ link_comment.post_html|safe }}
</div>
{% else %}{% ifequal link_comment.link_type "html" %}
<div id="link_html">
    {{ link_comment.post_html|safe }}
</div>
{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}

<h1><a href="{{ link_comment.post_url }}" target="_blank">{{ link_comment.post_ttl|safe }}</a></h1>

{% if link_comment.post_txt %}
    <p class="link_view_txt">{{ link_comment.post_txt|safe }}</p>
{% endif %}
<div class="fb-like" data-href="" data-send="true" data-width="450" data-show-faces="true"></div>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '195524800546217', // App ID
      channelUrl : 'link5.me', // Channel File
      status     : false, // check login status
      cookie     : false, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };
  
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; 
     //if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>
<script>
$(".fb-like").attr("data-href", window.location);

// Rebinds the vote buttons to jquery
$('.likeornot_post a').die();
$('.likeornot_post a').live('click', function() {
    var url = $(this).attr('href');
    var link_id = $(this).attr('id');
    link_vote(url, link_id, 'likeornotpost_');
    return false;
});
</script>
<p class="tweeter">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://link5.me{% url linkload_short link_comment.id_b62 %}" data-text="{{ link_comment.post_ttl|safe }}" data-via="Link5" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

<p id="link_source">{% trans 'Link source:' %} <a href="{{ link_comment.post_url }}" target="_blank">{{link_comment.source.netloc }}</a></p>
<div class="likeornot_post" id="likeornotpost_{{ link_comment.id_b62 }}">
    <p><a class="like" href="{% url vote link_comment.id_b62 '1' %}" id="like_{{ link_comment.id_b62 }}"><span class="number">{{ link_comment.positive }}</span><img src="{{ STATIC_URL }}link5/img/yes.png" class="vicone" /></a>
    <a class="not" href="{% url vote link_comment.id_b62 '0' %}" id="not_{{ link_comment.id_b62 }}"><span class="number">{{ link_comment.negative }}</span><img src="{{ STATIC_URL }}link5/img/no.png" class="vicone" /></a>
    </p>
</div>

<div id="full_comment">
    {% include "link5/comments.html" %}
</div>

<div class="clearboth"></div>
