{% load i18n link5_extras thumbnail %}
<div id="links_section">
    {% if not links %}<h1>{% trans "No link for this page, yet!" %}</h1>{% endif %}
    <div id="jquerywall_height"><div id="jquerywall">
    {% block jquerywall %}
    {% include "link5/link_wall_content.html" %}
    {% endblock jquerywall %}
    </div></div>
    <div id="link_overlay" {% if not link_comment %}class="hidde"{% endif %}></div>
    <div id="full_view" {% if not link_comment %}class="hidde"{% endif %}><div id="full_view_content" tabindex="13">{% if link_comment %}{% include "link5/link_view.html" %}{% endif %}</div></div>
    
    
    {% block more_links %}
    {% if links.last_page %}
    <p id="link_nav"><a href="/{% if url %}{{ url }}/{% endif %}{% if user_name %}{{ user_name }}/{% endif %}{{ links.page|add:"1" }}/">More links!</a></p>
    {% endif %}
    {% endblock more_links %}

    <div class="clearboth"></div>
</div>
