{% load i18n link5_extras thumbnail %}
<div id="links_section">
    {% if not links %}<h1>{% trans "No link for this page, yet!" %}</h1>{% endif %}
    <div id="jquerywall_height"><div id="jquerywall">
    {% for link in links|slice:LINK_PER_PAGE %}
        <article class='link'>
            <h2 class="title">{% ifequal link.link_type "link" %}<img src="{{ STATIC_URL }}link5/img/link.png" border="0" class="link_icone" width="20" />{% else %}{% endifequal %}<a href="{% url linkload link.id_b62 link.title_for_url %}" class="link_load" target="_blank">{{ link.post_ttl|safe }}</a></h2>
            
            <div class="media">
            {% ifequal link.link_type "photo" %}
                <p class="link_visu"><a href="{% url linkload link.id_b62 link.title_for_url %}" class="link_load" target="_blank">
                    {% thumbnail link.post_img "185" as im %}
                        <img src="{{ im.url }}" height="{{im.height}}" width="{{im.width}}" class="link_image_preview">
                    {% endthumbnail %}
                </a></p>
            {% else %}{% ifequal link.link_type "link" %}{% if link.post_img %}
                <p class="link_visu"><a href="{% url linkload link.id_b62 link.title_for_url %}"  class="link_load">
                    {% thumbnail link.post_img "185" upscale=False as im %}
                        <img src="{{ im.url }}" height="{{im.height}}" width="{{im.width}}" class="link_image_preview">
                    {% endthumbnail %}
                </a></p>
            {% endif %}{% else %}{% ifequal link.link_type "video" %}
                <p class="link_visu"><a href="{% url linkload link.id_b62 link.title_for_url %}"  class="link_load">
                    {% thumbnail link.post_img "185" as im %}
                        <img src="{{ im.url }}" height="{{im.height}}" width="{{im.width}}" class="link_image_preview">
                    {% endthumbnail %}
                    {% ifequal link.link_type "video" %}
                        <img src="{{ STATIC_URL }}link5/img/play.png" border="0" width="20" height="18" class="link_play" />
                    {% endifequal %}
                </a></p>
            {% else %}{% ifequal link.link_type "html" %}
                {{ link.post_html|safe }}
            {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
            </div>
            <p class="description">{{ link.post_txt|safe }}</p>
            <p class="author_date">Post by <a href="{% url user_home link.author.user.username|urlencode %}">{{ link.author.user.username }}</a> in <a href="{% url category link.category.slug %}">{{ link.category.name }}</a>, {{ link.created_at }} -- <a href="{% url linkload link.id_b62 link.title_for_url %}" class="link_load">{{ link.comment }} {% trans 'Comment' %}{{ link.comment|pluralize }}</a></p>
            
            
            {% if link.author.user.pk == request.user.pk %}<p class="link_delete"><a href="{% url linkdelete link.id_b62 %}">{% trans "Delete [x]" %}</a></p>{% endif %}
            
            <div class="likeornot" id="likeornot_{{ link.id_b62 }}">
                <p><a class="like" href="{% url vote link.id_b62 '1' %}" id="like_{{ link.id_b62 }}"><span class="number">{{ link.positive }}</span><img src="{{ STATIC_URL }}link5/img/yes.png" class="vicone" /></a>
                <a class="not" href="{% url vote link.id_b62 '0' %}" id="not_{{ link.id_b62 }}"><span class="number">{{ link.negative }}</span><img src="{{ STATIC_URL }}link5/img/no.png" class="vicone" /></a>
                </p>
            </div>
            <div class="clearboth"></div>
        </article>
    {% endfor %}
    </div></div>
    <div id="link_overlay" {% if not link_comment %}class="hidde"{% endif %}></div>
    <div id="full_view" {% if not link_comment %}class="hidde"{% endif %}><div id="full_view_content" tabindex="13">{% if link_comment %}{% include "link5/link_view.html" %}{% endif %}</div></div>
    
    
{% if links.home_page or links.last_page %}
<p id="link_nav">
	{% if links.home_page %}<span><a href="/{% if url %}{{ url }}/{% endif %}{% if user_name %}{{ user_name }}/{% endif %}{{ links.page|add:"-1" }}/"><<</a></span>&nbsp;&nbsp;&nbsp;{% endif %}
	{% if links.last_page %}<span><a href="/{% if url %}{{ url }}/{% endif %}{% if user_name %}{{ user_name }}/{% endif %}{{ links.page|add:"1" }}/">>></a></span>{% endif %}
</p>
{% endif %}

    <div class="clearboth"></div>
</div>
