{% load i18n link5_extras %}
{% include "link5/head.html" %}
{% include "link5/nav.html" %}
{% include "link5/profil_view.html" %}
{% include "link5/messages.html" %}
<div id="profil_page">
    
    {% if edit_form %}
    <form action="{% url login %}" method="post" id="edit_form">{% csrf_token %}
        <h2>{% trans 'Edit my account info' %}</h2>
        
        <input type="hidden" name="edit_form" value="1" />
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
        <div class="edit_element">
            {{ edit_form.username.errors }}
            <label for="id_username">{% trans 'Pseudo: ' %}</label>
            {{ edit_form.username }}
        </div>
    
        <div class="edit_element">
            {{ edit_form.email.errors }}
            <label for="id_username">{% trans 'Email: ' %}</label>
            {{ edit_form.email }}
        </div>
        
        <div class="edit_element">
            {{ edit_form.password1.errors }}
            <label for="id_password1">{% trans 'Password:' %}</label>
            {{ edit_form.password1 }}
        </div>
        
        <div class="edit_element">
            {{ edit_form.password2.errors }}
            <label for="id_password2">{% trans 'Password:<span class="again"><br/>(again? Seriously ?)</span>' %}</label>
            {{ edit_form.password2 }}
        </div>
        
         <div class="newsletter_check">
            {{ edit_form.newsletter.errors }}
            {{ edit_form.newsletter }}
            <label for="id_newsletter">{% trans "Newsletter" %}</label>
        </div>
        
        <p class="link_submit submit_login"><input type="submit" value="{% trans 'Update' %}" /></p>
    </form>
    {% endif %}

    <h1>{% blocktrans with author.user.username as username %}{{ username }} link5s contact:{% endblocktrans %}</h1>
    
    <div id="profil_link">  
        <h2>{% blocktrans with author.user.username as username %}Link from {{ username }}{% endblocktrans %} ({{ author.number_to }})</h2>
        <ul class="user_links">
        {% for following in followings %}
            <li><a href="{% url user_home following.author_to.user.username|urlencode %}">
                {% if following.author_to.avatar %}
                    <img src="{{ following.author_to.avatar|crop:"40x40" }}" alt="{{ following.author_to.user.username }}" width="40" />
                {% else %}
                    <img src="{{ STATIC_URL }}link5/img/anonymous.png" alt="Link" width="40" />
                {% endif %}
                <span class="follow_user">{{ following.author_to.user.username }}</span>
            </a></li>
        {% endfor %}
        </ul>

        <h2>{% blocktrans with author.user.username as username %}People who links {{ username }}{% endblocktrans %} ({{ author.number_from }})</h2>
        <ul class="user_links">
        {% for follower in followers %}
            <li><a href="{% url user_home follower.author_from.user.username|urlencode %}">
                {% if follower.author_from.avatar %}
                    <img src="{{ follower.author_from.avatar|crop:"40x40" }}" alt="{{ follower.author_from.user.username }}" width="40" />
                {% else %}
                    <img src="{{ STATIC_URL }}link5/img/anonymous.png" alt="Link" width="40" />
                {% endif %}
                <span class="follow_user">{{ follower.author_from.user.username }}</span>
            </a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="clearboth"></div>
</div>


{% include "link5/footer.html" %}