{% load i18n link5_extras thumbnail %}<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr"> 
 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	{% block meta %}
	<title>Link5</title>
	<meta name="description" content="{% trans 'Link5 the social network based on link sharing: share, follow, link, linked... And enjoy!' %}" />
	{% endblock meta %}
	
	<link rel="stylesheet" type="text/css" href="{% version '/link5/css/style.css' %}" media="screen" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}link5/img/favicon.ico" type="image/x-icon" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	<script src="{% version '/js/jquery.wookmark.js' %}"></script>
	<script src="{% version '/link5/js/site.js' %}"></script>
	
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7391782-3']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    
    {% if link_comment %}
    <meta property="og:title" content="{{ link_comment.post_ttl|safe }}"/>
    <meta property="og:image" content="{% thumbnail link_comment.post_img "580" upscale=False as im %}http://link5.me{{ im.url }}{% endthumbnail %}"/>
    <meta property="og:site_name" content="Link5.me"/>
    <meta property="og:description" content="{{ link_comment.post_txt|safe }}"/>
    {% endif %}
</head> 

<body>

<div id="main"> 
    <header> 
        <p id="logo"><a href="{% if request.user.is_authenticated %}{% url home %}{% else %}{% url home %}{% endif %}"><img src="{{ STATIC_URL }}link5/img/Link5me-oldschool.png" alt="Link5.me" width="300" height="110" /></a></p>
          
        <div id="login">
        {% if not user.is_authenticated %}
            <p><br /><a href="{% url login_link5 %}?next={{ request.get_full_path }}">{% trans "Login" %}</a> | <a href="{% url login_link5 %}?next={{ request.get_full_path }}">{% trans "Join this marvelous website" %}</a></p>
        {% else %}  
            <p>{% trans 'Welcome' %} <a href="{% url user_home request.user.username|slugify %}">{{ user.username }}</a>.<br /> <a href="{% url logout_link5 %}">{% trans "Screw you guys, I'm going home" %}</a></p>
        {% endif %}
        </div>
        
        <form action="/i18n/setlang/" method="post" name="langage_selection" id="langage_selection">{% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
            <input name="language" type="hidden" value="" id="language" />
            {% for lang in LANGUAGES %}
            <a href="#" onclick="submit_langage('{{ lang.0 }}'); ">{{ lang.1 }}</a> | 
            {% endfor %}
            <script type="text/javascript">
                function submit_langage(lang) {
                    document.getElementById('language').value=lang; 
                    document.langage_selection.submit();
                }
            </script>
        </form>
    </header> 

    {% include "link5/nav.html" %}
    
    {% block under_nav %}
    {% endblock under_nav %}
    
    {% include "link5/messages.html" %}
    
    {% block content %}
    {% endblock content %}
    
    {% load flatpages %}
    {% get_flatpages as flatpages %}
    <div class="clearboth"></div>
</div>  <!-- /#main -->  

<footer> 
    <p>Copyright &copy; 2012 - link5 (contact <a href="{% url contact %}">me</a>) - <span>With <a href="https://www.djangoproject.com/" target="_blank">Django</a></span>
    {% for page in flatpages %}
        - <a href="{{ page.url }}">{{ page.title }}</a>
    {% endfor %}
    </p> 
</footer>
</body> 
</html>
