{% load i18n %}{% load url from future %}
<p>{% trans "Hello," %}</p>
<p>
  {% trans "You've forget your password, no worries, it happens sometimes." %}
</p>
<p>
  {% blocktrans %}
    If you want to change it, please click on the link below. You’ll be redirected to your account where you will be able to set up a password that you will easily remember.<br />
    Link: 
  {% endblocktrans %}
  <a href="{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}</a>
</p>
<p>
  {% blocktrans %}
    Kiss, <br />
    Link5
  {% endblocktrans %}
</p>
