{% extends "link5/site.html" %}{% load i18n%}
{% block content %}
<div id="password_lost">
  {% if validlink %}
    <h1>{% trans 'Enter new password' %}</h1>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="" method="post">
      {% csrf_token %}
      <div id="new_pass">
      {{ form.as_p }}
      </div>
      <p class="link_submit submit_newpass"><input type="submit" value="{% trans 'Change my password' %}" /></p>
    </form>
  {% else %}
    <h1>{% trans 'Password reset unsuccessful' %}</h1>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
  {% endif %}
</div>
{% endblock content %}
